html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(148, 0, 0);
    --secundary-bg-color: black;
}

::-webkit-scrollbar {   
    z-index: 10 !important; 
    height: 20px;
}
::-webkit-scrollbar-track{
    background: var(--main-bg-color) ;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(40, 40, 40);
}

.main-color {
    color: #6411ad;
}


/*---------------- HEADER------------------------- */

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 60px;
    font-size: 14px;
}

.nav a {
    color: #ffffff;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: #6411ad;
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #6411ad;
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
    color: white;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: white;
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.searchContainer{
  margin:auto;
  text-align:center;
}
.searchContainer form{
  display:inline;
  font-size:1em;
  border-radius: 8em;
  border:0.1em solid rgba(218,208,190,1);
  box-shadow:0 0 0.3em rgba(60,60,60,0.4);
  padding:0.3em;
  background:black;
  border: none;
  display: flex;
  align-items: center;
}

.searchContainer input {
  transition:all 0.2s ease-out;
  width:1px;
  border-radius:0;
  box-shadow:none;
  outline: none;
  padding-left:0.3rem;
  margin:0;
  border:0;
  background-color: black;
  color: white;
  opacity:0;
}

.searchContainer input:focus {
  width:8em;
  opacity:1;
}

.searchContainer label{
  padding-left: 1px;
  display:inline-block;
  color:white;
  text-shadow:0 0 0.1em rgba(60,60,60,0.3);
  background-color: black;
  position: relative;
  left:0.1em;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hamburger-menu {
        display: grid;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
        color: white;
    }

    .nav-menu li {
        margin: 10px 30px;
    }

    .nav-menu.active {
        left: 0;
    }
}

/*---------------- HEADER------------------------- */

