html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(148, 0, 0);
    --secundary-bg-color: black;
}

::-webkit-scrollbar {   
    z-index: 10 !important; 
    height: 20px;
}
::-webkit-scrollbar-track{
    background: var(--main-bg-color) ;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(40, 40, 40);
}