.hero-slide-item{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}
.section-header {
    margin: 0;
}
.colorChallengeFooter{
    color: #E50913;
    margin-left: 1vw;
}
footer{
    padding-top: 2vh;
    padding-bottom: 0vh !important;
}

.nav-wrapper{
    height: 6rem;
}
.nav{
    margin-top: 2vh;
}
.imageCarouselHeader{
    width: 100vw;
    height: 90vh;
    border: 1px solid black;
    background-position: top;
    background-size: cover;
  }
.contenedorCarrousel{
    margin-top: 6rem;
} 
.content{
    padding-top: 2vh;
}
.btn:hover{
    cursor: pointer;
}
.addToList{
    border: none;
    color: white;
    background-color: black;
    font-size: 1.25rem;
}
.circulePlay{
    margin-top: 0.5vh;
}
.siteContainerLogInEma{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.divContainerLogInEma{
    background-color: #151515d3;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0.5rem;
    margin-top: 2rem;
}
.titleFormRegister{
    font-size: 6.5vh;
}
.divContainerLogInEma form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputFormRegister{
    width: 18rem;
    height: 2rem;
    margin: 0.5rem;
    padding-left: 0.4rem;
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
}
.botonFormRegister{
    font-size: 2.5vh;
    width: 18rem;
    font-weight: bolder;
    background-color: #E50913;
    border: #E50913;
    text-align: center;
    border-radius: 0.2rem;
    margin-top: 1rem;
    padding: 0.2rem 0;
    cursor: pointer;
}
.callToActionForm{
    color: rgb(153, 150, 150);
}
.reedirectFormRegister{
    color: white;
    font-size: 3.5vh;
    font-weight: 550;
}
.googleButton{
    width: 18rem;
    padding: 0.2rem 0;
    cursor: pointer;
    border-radius: 0.2rem;
    height: 2.3rem;
    border: none;
    margin: 1rem 0;
}
.h1AddProfile{
    cursor: default;
    font-weight: 600;
}
.h3AddProfile{
    cursor: default;
    font-weight: 500;
    color: grey;
}
.separacionConHr{
    width: 20rem;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.61);
}
.avatarPredeterminadoDiv{
    width: 7.5rem;
    height: 7.5rem;
    background-position: center;
    background-size: cover;
}
.formProfile{
    display: flex;
    flex-direction: row;
    width: 24rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}
.infoPerfilCreate{
    display: flex;
    flex-direction: column;
}
.h3showContentPrefile{
    cursor: default;
    font-weight: 500;
    margin-right: 1rem;
}
.showContentPrefile{
    display: flex;
    justify-content: center;
    width: 22rem;
    align-items: center;
}
.inputCreatePerfil{
    background-color: #666666;
    color: white;
    outline: none;
    border: none;
    height: 1.5rem;
    padding-left: 0.8rem;
    height: 2rem;
    font-size: 1rem;
}
.inputCreatePerfil::placeholder {
    color: white;
    font-size: 1rem;
  }
  .labelCreatePerfil{
      font-size: 0.9rem;
      color: grey;
  }
  .continueCreateProfile{
      background-color: #E50913;
      color: white;
      border: #E50913;
      height: 2rem;
      width: 8rem;
      letter-spacing: 0.2rem;
      cursor: pointer;
      margin-right: 2rem;
      border-radius: 0.3rem;
  }
  .containerButtonsCreateProfile{
      width: 22rem;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
  }
  .cancelCreateProfile{
    background-color: #181616;
    color: white;
    border:1px solid white;
    height: 2rem;
    width: 8rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-right: 2rem;
    border-radius: 0.3rem;
  }
  .l-radio {
    padding: 6px;
    border-radius: 50px;
    display: inline-flex;
    cursor: pointer;
    transition: background 0.2s ease;
    margin: 8px 0;
    -webkit-tap-highlight-color: transparent;
  }
  .l-radio:hover, .l-radio:focus-within {
    background: rgba(159, 159, 159, 0.1);
  }
  .l-radio input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9F9F9F;
    box-shadow: inset 0 0 0 1.5px #9F9F9F;
    appearance: none;
    padding: 0;
    margin: 0;
    transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
    pointer-events: none;
  }
  .l-radio input:focus {
    outline: none;
  }
  .l-radio input:checked {
    box-shadow: inset 0 0 0 6px #E50913;
  }
  .l-radio span {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
  }
  .profileName{
      color: white
  }
  .pricing-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    width: 94vw;
  }
.pricing-box{
    width: 30vw;
    margin: 0 9.5rem;
}
.containerCompVideo{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}
.containerVideo{
    width: 70vw;
    height: 30vh;
    margin-top: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoLoader{
    width: 30vw;
    height: 10vh;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 850px) {
    div.item-content-wraper{
        justify-content: flex-end;
    }
    .hero-slide-item{
        height: 70vh;
    }
    .overlay{
        z-index: 40;
        background-color: rgba(0, 0, 0, 0.342);
    }
    .social-list{
        display: flex;
        justify-content: center;
    }
    .logoFooterResponsive{
        text-align: center;
    }
    .textFooterResponsive{
        text-align: center;
    }
    .linksFooterResponsive{
        text-align: center;
    }
  }
  @media only screen and (max-width: 450px) {
    
  }
  .containerPricingCards{
      width: 98.5vw;
      height: 90vh;
      margin-top: 6rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  .pricingCard{
    width: 35vw;
    height: 70vh;
    background-color: #151515;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 0;
    margin: 1vw;
  }
  .parteDeArribaCard{
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 4vw;
  }
  .parteDeArribaCard h3{
      font-size: 5vh;
  }
  .contenidoDelPaqueteCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .contenidoDelPaqueteCard h4{
    font-size: 3.5vh;
  }
  .lugarDelBotonCard{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .borderTopRed{
      border-top: 5px solid #E50913;
  }
  .pricingCard:hover{
    background-color: #222121;
  }
  .textoTachadoCards{
    text-decoration:line-through;
  }
@media only screen and (max-width: 700px) {
   .pricingCard{
       width: 85vw;
       height: 40vh;
       flex-direction: row;
   }
   .contenidoDelPaqueteCard{
       width: 33%;
       height: 100%;
   }
   .parteDeArribaCard{
       flex-direction: column;
       width: 33%;
       align-items: center;
       height: 100%;
       padding: 5vh;
   }
   .lugarDelBotonCard{
       width: 33%;

   }
   .contenidoDelPaqueteCard h4{
    font-size: 3vh;
  }
}
@media only screen and (max-width: 520px) {
    .contenidoDelPaqueteCard h4{
        font-size: 2.5vh;
      }
}
@media only screen and (max-width: 477px) {
   .pricingCard{
       flex-direction: column;
       height: 60vh;
   }
   .parteDeArribaCard{
       height: 20%;
       width: 100%;
       flex-direction: row;
   }
   .contenidoDelPaqueteCard{
       height: 50%;
       width: 100%;
   }
   .lugarDelBotonCard{
       width: 100%;
       height: 20%;
   }
}

