.hero-slide-item{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-header {
    margin-top: 7vh;
}
.colorChallengeFooter{
    color: #E50913;
    margin-left: 1vw;
}
footer{
    padding-top: 2vh;
    padding-bottom: 0vh !important;
}

.nav-wrapper{
    height: 6rem;
}
.nav{
    margin-top: 2vh;
}
.imageCarouselHeader{
    width: 100vw;
    height: 90vh;
    border: 1px solid black;
    background-position: top;
    background-size: cover;
  }
.contenedorCarrousel{
    margin-top: 6rem;
} 
.content{
    padding-top: 2vh;
}
.btn:hover{
    cursor: pointer;
}
