
.seriesContainer, .popularContainer{
  flex-wrap: wrap;
  margin-top: 8rem;
  display: flex;
}

.serie{
  width: 15.7rem;
  height: 20rem;
  margin: 0.5rem;
  background-size: cover;
  display:inline-block;
  position:relative;
  cursor: pointer;
}

.results{
  width: 17rem ;
  height: 20rem;
  margin: 0.5rem ;
  background-size: cover ;
  cursor: pointer;
}

.noResults{
  justify-self: center;
  margin: 0 auto;
  min-height: 28.5vh;
}


.d-block{
  display: block;
}

.d-none{
  display: none;
}

.searcContainer{
  display: flex;
  flex-direction: column;
}

.cardBusqueda{
  position: absolute;
  left: 0;
  top: 31rem;
}

  