.movieCard{
    height: 60vh;
    width: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerMovies{
    height: 90vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.itemContent{
    height: 90vh;
}

.contentWraper{
    width: 50vw;
}

.contentTitle{
    width: 90vw;
    z-index: 3;
}

.contentDescription{
    width: 60vw;
    z-index: 3;
}
