.item {
  flex: 0 0 15%;
  transition: transform 500ms ease 300ms;
  margin: 0 2px;
  transform:scale(1.1);
  position: relative;
  cursor: pointer;

  img {
    height: 45vh;
    width: 100%;
    vertical-align: top;
  }
  
}
