.show-details-button {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
  background-color: #15151596;
  border: 0;
  outline: none;
  width: 100%;
  cursor: pointer;

  span {
    display: block;
    width: 1.5vw;
    margin: 0 auto;
    color: white;
  }
}
