.slider-wrapper {
  padding: 35px 0;
  padding-bottom: 4vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

@media only screen and (max-device-width : 550px) {
  .slider-wrapper{
    margin-bottom: 1em;
  }
}